html, body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
}

* {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	padding: 5px;
}

.menu {
	display: flex;	
	list-style: none;
	padding: 0;
}

.menu > li {
	margin-right: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.actions > button {
	margin-left: 5px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}

.header button {
	align-self: center;
}

.page-title {
	padding: 0;
	margin: 0 0 25px 0;
}


.form {
	&__item {
		padding: 5px 5px 15px 5px;
		display: block;
	}

	&__item:nth-child(2n) {
		background-color: #f2f2f2;
	}

	&__item > input, &__item > select, &__item > textarea {
		display: block;
		width: 500px;
		min-height: 25px;
	}

	&__item > textarea {
		min-height: 120px;
	}
}






.page-title {
	font-family: Gilroy;
	position: relative;
}

.page-title__sub {
	font-size: 24px;
	color: gray;
}

.button-error {
	background: rgb(202, 60, 60);
	color: white;
}

.button-success {
	background: rgb(44 172 74);
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.main {
	width: 1024px;
	margin: 0 auto;
}

.actions {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}

.content-id {
	font-size: 20px;
	color: gray;
	width: 250px;
	text-align: right;
}

.scores {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 50px 50px 0 50px;
	list-style: none;
	justify-content: space-around;
}

.score {
	width: 33%;
	margin-bottom: 35px;
	display: block;
}

.score.--delete {
	// filter: brightness(0.6);
	position: relative;
}

.score.--delete::after {
	background-color: #f6dede;
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
	pointer-events: none;
}

.audio.--delete, .audio.--delete .audio__player::-webkit-media-controls-play-button, .audio.--delete .audio__player::-webkit-media-controls-panel {
	background-color: #f6dede;
}

.audio__delete {
	padding: 8px 12px;
}

.score.--delete .score__page {
}

.score__page {
	width: 100%;
	user-select: none;
	box-sizing: border-box;
}

.score-add {
	display: flex;
	justify-content: center;
	align-items: center;
}

.score__link {
	position: relative;
}

.score__delete {
	position: absolute;
	right: 0px;
	cursor: pointer;
	display: none;
	padding: 3px 6px 14px 14px;
}

.score:hover .score__delete {
	display: block;
}

.score__delete input {
	display: block;
	width: 25px !important;
}

.open-on-site {
	font-size: 12px;
	position: absolute;
    bottom: -8px;
    right: 1px;
	display: none;
	text-decoration: none;
	color: gray;
}

.open-on-site:hover {
	text-decoration: underline;
}

.page-title:hover .open-on-site {
	display: block;
}

.mini-player {
	display: flex;
	align-items: center;
}

.datetimes {
	list-style: none;
	padding: 0;
	margin-top: 0;
}

.datetime {
	font-size: 10px;
	color: darkgray;
}

.public {
	font-size: 10px;
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
}

.public > input {
	margin-left: 3px;
}










.kovalsky-table {
	width: 100%;
}

.page-title {
	font-family: Gilroy;
}

.notes-content__linksColumn {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header button {
	align-self: center;
}

.notes-content__titleColumn {
	vertical-align: top;
}

.content {
	display: flex;
}

.content:not(:last-of-type) {
	margin-bottom: 2px;
}

.content.--draft {
	background: repeating-linear-gradient(45deg, #d0d1d6, #d0d1d6 10px, #bababb 10px, #bababb 20px);
}

.content__link {
	padding: 3px 0;
}

.content__instruments {
	font-size: 12px;
	margin-left: 5px;
}

.add-content {
	margin-top: 8px;
}
